@import "tailwindcss";

@media print {
  body * {
    visibility: hidden;
  }
  #printable-receipt-area, #printable-receipt-area * {
    visibility: visible;
  }
  #printable-receipt-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 20px;
    background: white !important;
  }
  .no-print {
    display: none !important;
  }
}
